*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:black;}
.clearfix:after{content:"";display:block;clear:both;}

#wrap{width:100%;}

#margin_wrap{width:1300px;margin:0 auto;}

#header{height:200px;}

#logo{width:160px;height:160px;margin:0 auto;
        margin-top:30px;}

#nav{height:50px;border-top:1px solid black;border-bottom:1px solid black;}

#nav li{width:112px;height:50px;float:left;margin-left:20px;
            text-align:center;line-height:50px;}

#nav li:nth-child(1){margin-left:0px;}

#ad_2{margin-top:50px;}

/*#ad_2 li{width:400px;float:left;margin-left:10px}

#ad_2 li:nth-child(1){margin-left:0px;}

#ad_2 li:nth-child(3){width:480px;}

#ad_2 li:nth-child(4){margin-top:-265px;margin-left:0px;}

#ad_2 li:nth-child(5){margin-left:410px;margin-top:-265px;}*/

#ad_2 li{width:400px;float:left;margin-left:10px;}

#ad_2 li:nth-child(1){margin-left:0px;}

#ad_2 img{margin-bottom:6px;}

.con_title{margin-top:50px;text-align:center;font-size:23px;}

.color div{width:15px;height:15px;border:1px solid grey;float:left;
            margin-left:4px}

.color div:nth-child(1){margin-left:0px;background-color:black;}

.color div:nth-child(2){background-color:white;}

.color div:nth-child(3){background-color:pink}

.color div:nth-child(4){background-color:darkgray;}

.con li{width:310px;float:left;margin-left:20px;font-size:13px}

.con li:nth-child(4n+1){margin-left:0px;}

.con img{width:310px;}


#ad_3 {margin-top:50px;}
#ad_3 li{width:640px;float:left;margin-left:20px;}

#ad_3 li:nth-child(1){margin-left:0px;}


#ad_4 {margin-top:50px;}
#ad_4 li{width:420px;float:left;margin-left:20px;}

#ad_4 li:nth-child(1){margin-left:0px;}
